body{
  background-color: grey;
  font-family: fantasty;
  font-size: 20px;
  color: white;
}
#h1 {
  text-align: center;
  font-family: sans;
  font-size: 90px;
  padding-top:40px;
}

h2{
  color: black;
}

#div-index{
  border: 5px groove pink;
  margin: 10%;
  padding: 20px;
  font-size: 17px;
  color: white;
}
#follow{
  padding:10px;
  float: right;
  border: 2px solid red;
  margin: 1%;
}


#intro{
  margin: 30px;
  padding: 19px;
  color: white;
}



a:hover{
  color: red;
}

.alert{
  text-align: center;
}

.div{
  margin: 20px;
  border: 4px outset grey;
  padding: 40px;
}

#hp-flim-7, #hp-flim-8{
  padding: 10px;
}

.col{
  border: 5px groove white;
  margin: 20px;
  padding: 20px;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: grey;
  font-size: 20px;
  cursor: pointer;
}

button{
  border: 1px solid grey;
  color: black;
}

.contact{
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
