/* scss- variable and nesting*/
$color: yellow;

ul  li{
  a{
    color: $color;
  }
}

span{
  a{
    color: $color;
  }
}
/*scss inheritence*/

%follow{
  font-weight: bold;
  font-size: 40px;
  padding: 30px;

}

#tt{
  @extend %follow;
  a{
    color: white;
  }

}
#ig{
  @extend %follow;
  a{
    color: black;
  }
}
#fb{
  @extend %follow;
  a{
    color: blue;
  }
}
